name: Check Script

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  check:
    name: Check Scripts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checks
        run: |
          php manager.php check || exit 1